.slidemask{
	background-color: #000;z-index: 10;opacity: 0.6;display: none;
	position: fixed;top: 0;left: 0;right: 0;bottom: 0;
}
.slidemask-animate{
	animation: slidemask 0.2s;
	-webkit-animation: slidemask 0.2s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
.slidemask-hide-animate{
	animation: hideslidemask 0.2s;
	-webkit-animation: hideslidemask 0.2s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
@keyframes slidemask{
	0%   {opacity: 0;}
	100% {opacity: 0.6;}
}
@-webkit-keyframes slidemask{
	0%   {opacity: 0;}
	100% {opacity: 0.6;}
}
@keyframes hideslidemask{
	0%   {opacity: 0.6;}
	100% {opacity: 0;}
}
@-webkit-keyframes hideslidemask{
	0%   {opacity: 0.6;}
	100% {opacity: 0;}
}
.slidemenu{
	position: fixed;z-index: 11;display: none;background-color: transparent;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
}
.slidemenu>div{
	background-color: #f2f2f2;
	height: 100%;
}
/*bottom*/
.slidemenu-bottom{
	left: 0;right: 0;bottom: 0;
}
.slidemenu-bottom-animate{
	animation: showBottomMenu 0.2s;
	-webkit-animation: showBottomMenu 0.2s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
.slidemenu-bottom-hide-animate{
	animation: hideBottomMenu 0.2s;
	-webkit-animation: hideBottomMenu 0.2s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
@keyframes showBottomMenu{
	0%   {transform: translateY(100%);}
	100% {transform: translateY(0);}
}
@-webkit-keyframes showBottomMenu{
	0%   {-webkit-transform: translateY(100%);}
	100% {-webkit-transform: translateY(0);}
}
@keyframes hideBottomMenu{
	0%   {-webkit-transform: translateY(0);}
	100% {-webkit-transform: translateY(100%);}
}
@-webkit-keyframes hideBottomMenu{
	0%   {-webkit-transform: translateY(0);}
	100% {-webkit-transform: translateY(100%);}
}
/*top*/
.slidemenu-top{
	left: 0;right: 0;top: 0;
}
.slidemenu-top-animate{
	animation: showTopMenu 0.2s;
	-webkit-animation: showTopMenu 0.2s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
.slidemenu-top-hide-animate{
	animation: hideTopMenu 0.2s;
	-webkit-animation: hideTopMenu 0.2s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
@keyframes showTopMenu{
	0%   {transform: translateY(-100%);}
	100% {transform: translateY(0);}
}
@-webkit-keyframes showTopMenu{
	0%   {-webkit-transform: translateY(-100%);}
	100% {-webkit-transform: translateY(0);}
}
@keyframes hideTopMenu{
	0%   {-webkit-transform: translateY(0);}
	100% {-webkit-transform: translateY(-100%);}
}
@-webkit-keyframes hideTopMenu{
	0%   {-webkit-transform: translateY(0);}
	100% {-webkit-transform: translateY(-100%);}
}
/*left*/
.slidemenu-left{
	left: 0;top:0;bottom: 0;
}
.slidemenu-left-animate{
	animation: showLeftMenu 0.2s;
	-webkit-animation: showLeftMenu 0.2s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
.slidemenu-left-hide-animate{
	animation: hideLeftMenu 0.2s;
	-webkit-animation: hideLeftMenu 0.2s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
@keyframes showLeftMenu{
	0%   {transform: translateX(-100%);}
	100% {transform: translateX(0);}
}
@-webkit-keyframes showLeftMenu{
	0%   {-webkit-transform: translateX(-100%);}
	100% {-webkit-transform: translateX(0);}
}
@keyframes hideLeftMenu{
	0%   {-webkit-transform: translateX(0);}
	100% {-webkit-transform: translateX(-100%);}
}
@-webkit-keyframes hideLeftMenu{
	0%   {-webkit-transform: translateX(0);}
	100% {-webkit-transform: translateX(-100%);}
}
/*right*/
.slidemenu-right{
	right: 0;top:0;bottom: 0;
}
.slidemenu-right-animate{
	animation: showRightMenu 0.2s;
	-webkit-animation: showRightMenu 0.2s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
.slidemenu-right-hide-animate{
	animation: hideRightMenu 0.2s;
	-webkit-animation: hideRightMenu 0.2s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
@keyframes showRightMenu{
	0%   {transform: translateX(100%);}
	100% {transform: translateX(0);}
}
@-webkit-keyframes showRightMenu{
	0%   {-webkit-transform: translateX(100%);}
	100% {-webkit-transform: translateX(0);}
}
@keyframes hideRightMenu{
	0%   {-webkit-transform: translateX(0);}
	100% {-webkit-transform: translateX(100%);}
}
@-webkit-keyframes hideRightMenu{
	0%   {-webkit-transform: translateX(0);}
	100% {-webkit-transform: translateX(100%);}
}