@charset("UTF-8");
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
  font-size: 16px;font-family: Helvetica;
  -webkit-overflow-scrolling: touch;
  -ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;
  overflow: auto;
}
body,html{width: 100%;height: 100%;overflow: hidden;}
input,button{-webkit-appearance: none;}
body,p,input,ul,li,h1,h2,h3,h4,h5{margin:0;padding: 0}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
[ms-controller],[ms-important]{display:none}
em,i{font-style: normal;font-weight: normal;}
/**/
.table100{display: table;width: 100%;height: 100%;}
.table100>div{display: table-cell;vertical-align: middle;}
/**/
.fl{float: left;}
.fr{float: right;}
.vam{vertical-align: middle;}
.vbh{visibility: hidden;}
.hide{display: none;}
.fz20{font-size: 20px}
.fzsmall{font-size: 0.8em;}
.fz1x{font-size: 1.2em;}
.fz2x{font-size: 2em;}
.tac{text-align: center;}
.clearfix:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.wh100{width: 100%;height: 100%;}
.mgt3{margin-top: .5em}
/*box*/
.db{display: box;display:-webkit-box;}
.dbf1{box-flex:1;-webkit-box-flex:1;}
.dbac{box-align:center;-webkit-box-align:center;}
/*switch*/
.switch+label{
    display: inline-block;width: 60px;height: 30px;background-color: #184F62;border-radius: 25px;position: relative;
    box-shadow: 2px 2px 5px #888888;
    -webkit-box-shadow: 2px 2px 5px #888888;
    transition : background-color 0.2s;
    -webkit-transition : background-color 0.2s;
}
.switch+label:after{
    display: block;width: 29px;border-radius: 50%;background-color: #fff;position: absolute;left: 1px;top:1px;bottom: 1px;
    transition: left 0.2s;content: "";
    -webkit-transition: left 0.2s; 
}
.switch{display: none;}
.switch:checked+label:after{left: 50%;}
.switch:checked+label{background-color: #1AAAEA}
/*btn common css*/
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-green{
  border-color: #067346;color: #0A9C0D;
  background-color: #fff;
}
.btn-green.ms-click-active,
.btn-green-active{color: #fff;border-color: #1AAAEA;background-color: #1AAAEA}
.btn-blue{
  background-color: #0561D0;border-color: #0CADDC;
  color: #0CADDC;
}
.btn-blue.ms-click-active,
.btn-blue-active{color: #fff;border-color: #24BCFF;background-color: #24BCFF}
.btn-lightblue{
  background-color: #C2E9F8;border-color: #1AAFD9;
  color: #1AAFD9;
}
.btn-lightblue.ms-click-active,
.btn-lightblue-active{color: #fff;background-color: #1AAFD9}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
/**/
h1.title{text-align: center;font-size: 2em;padding: 0.5em 0}
.oper{padding: 0 0.5em}
.oper a{margin-bottom: 0.5em;}